.accept-btn {
    background: rgb(29, 248, 29);
}

.accept-btn:active {
    background: rgb(23, 122, 23);
}

.accept-btn:hover {
    background: rgb(50, 255, 50);
}

.delete-btn {
    background: rgb(255, 30, 30);
}

.delete-btn:active {
    background: rgb(122, 25, 25);
}

.delete-btn:hover {
    background: rgb(255, 50, 50);
}

.main-btn {
    background: rgb(173, 216, 230);
}

.main-btn:active {
    background: rgb(133, 176, 190);
}

.main-btn:hover {
    background: rgb(183, 226, 240);
}

.base-btn {
    display: inline-block;
    color: black;
    border: 1px solid blue;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
    vertical-align: middle;
    max-width: 100px;
    padding: 5px;
    text-align: center;
}

.base-btn:active {
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
}

.base-btn:hover {
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
}